OutputFiles/v08_00_00_43a_BeforeVertexActivity
myPlots/*
#mySampless/*/*.root
OutputFiles/*/*/*reinteractions*.root
OutputFiles/*/*/*piplus*.root
OutputFiles/*/*/*piminus*.root
OutputFiles/*/*/*kplus*.root
OutputFiles/*/*/*kminus*.root
OutputFiles/*/*/*kzero*.root
OutputFiles/*/*/*FluxUnisim*.root
OutputFiles/*/*/*UBGenie*.root
OutputFiles/*/*reinteractions*.root
OutputFiles/*/*piplus*.root
OutputFiles/*/*piminus*.root
OutputFiles/*/*kplus*.root
OutputFiles/*/*kminus*.root
OutputFiles/*/*kzero*.root
OutputFiles/*/*FluxUnisim*.root
OutputFiles/*/*UBGenie*.root
*.d
*.so
*.pcm
.nfs*